In [1]:
import pandas as pd
import numpy as np

In [5]:
data=pd.read_spss("1ResearchProjectData.sav")

In [6]:
data.head()

   Student Teacher  Gender            Ethnic    Freeredu  Score       wesson
0      1.0   Ruger  Female             Asian  Free lunch   76.0  Ruger_Smith
1      2.0   Ruger  Female          Hispanic  Paid lunch   56.0  Ruger_Smith
2      3.0   Ruger  Female  African-American  Free lunch   34.0  Ruger_Smith
3      4.0   Ruger  Female             Asian  Paid lunch   59.0  Ruger_Smith
4      5.0   Ruger    Male          Hispanic  Free lunch   73.0  Ruger_Smith

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Student   216 non-null    float64
 1   Teacher   216 non-null    category
 2   Gender    216 non-null    category
 3   Ethnic    216 non-null    category
 4   Freeredu  216 non-null    category
 5   Score     216 non-null    float64
 6   wesson    217 non-null    category
dtypes: category(5), float64(2)
memory usage: 5.3 KB

In [10]:
data.describe()

       Student       Score
count  216.000  216.000000
mean   108.500   65.273148
std     62.498   16.361453
min      1.000   30.000000
25%     54.750   53.000000
50%    108.500   65.000000
75%    162.250   79.000000
max    216.000   95.000000

In [26]:
data.isnull().sum()

Student     1
Teacher     1
Gender      1
Ethnic      1
Freeredu    1
Score       1
wesson      0
dtype: int64

In [27]:
data.isna().sum()

Student     1
Teacher     1
Gender      1
Ethnic      1
Freeredu    1
Score       1
wesson      0
dtype: int64

In [28]:
data["Freeredu"].value_counts()

Paid lunch    112
Free lunch    104
Name: Freeredu, dtype: int64

In [16]:
data["Gender"].value_counts()

Male      120
Female     96
Name: Gender, dtype: int64

In [17]:
data["Ethnic"].unique()

['Asian', 'Hispanic', 'African-American', 'Caucasian', NaN]
Categories (4, object): ['Asian', 'Hispanic', 'African-American', 'Caucasian']

In [18]:
data["Teacher"].unique()

['Ruger', 'Smith', 'Wesson', NaN]
Categories (3, object): ['Ruger', 'Smith', 'Wesson']

In [20]:
data["wesson"].unique()

['Ruger_Smith', 'Wesson']
Categories (2, object): ['Ruger_Smith', 'Wesson']

In [23]:
data.groupby("Teacher").Score.sum()

Teacher
Ruger     3924.0
Smith     4803.0
Wesson    5372.0
Name: Score, dtype: float64

In [24]:
data.groupby("Ethnic").Score.sum()

Ethnic
African-American    3444.0
Asian               3482.0
Caucasian           2895.0
Hispanic            4278.0
Name: Score, dtype: float64